.custom-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 12px;
  	table-layout: fixed;
}

.custom-table input {
  width: 100%;
  box-sizing: border-box;
  font: inherit;
}

.custom-table th,
.custom-table td {
	border: 1px solid #e5e7eb;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
}

.custom-table th.sortable {
	cursor: pointer;
}

.form-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 12px;
	margin-bottom: 12px;
	margin-top: 10px;
}

.form-grid label {
	display: block;
	margin-bottom: 4px;
	font-weight: 600;
	font-size: 14px;
}

.form-grid input,
.form-grid select {
	padding: 12px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid #cbd5f5;
	width: 100%;
	box-sizing: border-box;
}

button {
	padding: 15px 16px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-weight: 600;
	transition: 0.2s;
}

button:hover {
	opacity: 0.5;
}

.btn-primary {
	background: #2563eb;
	color: #fff;
}

.btn-delete, .btn-danger {
	background: #dc2626;
	color: #fff;
}

.btn-secondary {
	background: #64748b;
	color: #fff;
}

.btn-edit {
	background: #fbbf24;
	color: #000;
}

.btn-save {
	background: #10b981;
	color: #fff;
}

.btn-cancel {
	background: #ef4444;
	color: #fff;
}

.btn-print {
	background: #4CAF50;;
	color: #fff;
}

.badge {
	background: #dbeafe;
	padding: 4px 8px;
	border-radius: 6px;
}
.badge-product-gasoline {
	background: #f97316;
	padding: 4px 8px;
	border-radius: 6px;
}

.badge-product-diesel {
	background: #2b87ff;
	padding: 4px 8px;
	border-radius: 6px;
}

.edit-input {
	width: 100%;
	height: max-content;
	padding: 8px;
	border: 1px solid #cbd5f5;
}

.button-container {
	display: flex;
	gap: 8px;
	justify-content: stretch;
}